body {
  background-color: #B5B5B5;
}

th, td {
  padding: 15px;
  border-spacing: 20px;
}

@font-face {
  font-family: "Oswald";
  src: url(oswald-regular.ttf);
}

div {
  font-family: "Oswald";
}

#meny-border {
  display: block;
  border: 1px;
}

#meny {
  background-color: none;
  list-style-type: none;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: bold;
  width: 1200px;
  text-align: center;
  height: 70px;
  border-radius: 5px;
}

a:link {
color: #212121;
text-decoration: none;
font-size: 0.9em;
}
a:visited {
color: #212121;
text-decoration: none;
font-size: 0.9em;
}
a:hover {
color: #212121;
text-decoration: underline;
font-size: 0.9em;
}
a:active {
color: #212121;
text-decoration: none;
font-size: 0.9em;
}


#content {
  font-family: "Oswald", Arial, sans-serif;
  background-color: #E1E1E1;
  width: 1200px;
  height: 1000px;
  border-radius: 5px;
}

#product-left {
  background-color: #B5B5B5;
  height: 260px;
  width: 400px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

#product-right {
  background-color: #CACACA;
  float: right;
  font-size: 1.2em;
  height: 260px;
  width: 700px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
}

#product-title {
  font-family: "Oswald", Arial, sans-serif;
  color: #3C3C3C;
}

#product-text {
  font-family: "Oswald", Arial, sans-serif;
  color: #3C3C3C  ;
}

#header {
  background-image: url("header.jpg");
  background-size: 1200px;
  width: 1200px;
  height: 500px;
  border-radius: 5px;
}

#headertext {
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  font-style: normal;
  color: white;
  text-align: center;
  padding-top: 210px;
}

#sida {
max-width: 1200px;
margin: auto;
}

#footer {
  font-family: "Oswald", Arial, sans-serif;
  background-color: #E1E1E1;
  width: 1200px;
  height: 90px;
  border-radius: 5px;
}
