body {
  background-color: #494d4c;
}

th, td {
  padding: 15px;
  border-spacing: 20px;
}

@font-face {
  font-family: "Oswald";
  src: url(oswald-regular.ttf);
}

@font-face {
  font-family: "Oswald-Light";
  src: url(oswald-light.ttf);
}

div {
  font-family: "Oswald-Light";
}

#meny-border {
  display: block;
  border: 1px;
}

#meny {
  background-color: none;
  list-style-type: none;
  font-family: "Oswald-Light", Arial, sans-serif;
  font-weight: bold;
  width: 1200px;
  text-align: center;
  height: 70px;
  border-radius: 5px;
  table-layout: fixed;
}

a:link {
color: #ece8e9;
text-decoration: none;
font-size: 2em;
}
a:visited {
color: #ece8e9;
text-decoration: none;
font-size: 2em;
}
a:hover {
background-color: #ece8e9;
padding: 14px 25px;
color: #494d4c;
text-align: center;
font-size: 2em;
display: inline-block;
}
a:active {
color: #ece8e9;
text-decoration: none;
font-size: 2em;
}


#content {
  font-family: "Oswald-Light", Arial, sans-serif;
  background-color: #ece8e9;
  width: 1200px;
  height: 1000px;
  border-radius: 5px;
}

#product-left {
  background-color: #e2dcdc;
  height: 260px;
  width: 400px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  text-decoration:
}

#product-right {
  background-color: #dad1d2;
  float: right;
  font-size: 1em;
  height: 260px;
  width: 700px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
}

#product-title {
  font-family: "Oswald-Light", Arial, sans-serif;
  color: #3C3C3C;
}

#product-text {
  font-family: "Oswald-Light", Arial, sans-serif;
  color: #3C3C3C  ;
}

#header {
  background-image: url("header.png");
  background-size: 1200px;
  width: 1200px;
  height: 500px;
  border-radius: 5px;
}

#headertext {
  font-family: "Oswald", Times, serif;
  font-size: 5em;
  font-style: normal;
  color: white;
  text-align: center;
  padding-top: 190px;
}

#sida {
max-width: 1200px;
margin: auto;
}

#footer {
  font-family: "Oswald-Light", Arial, sans-serif;
  background-color: #E1E1E1;
  width: 1200px;
  height: 90px;
  border-radius: 5px;
}
