@font-face {
  font-family: "Oswald";
  src: url(oswald-regular.ttf);
}

@font-face {
  font-family: "Oswald-Light";
  src: url(oswald-light.ttf);
}

body {
  background-color: #123747;
  font-family: "Oswald-Light";
  color: #0A1D25;
}
header {
  background-image: url("bg.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #0A1D25;
  background-attachment: fixed;
  height: 700px;

}
section {
  border: 1px;
  border-color: #white;
  background-color: white;
  padding: 20px;

}
footer {
  background-color: #0A1D25;
  padding: 30px;
  color: white;
  display: flow-root;

}
div {
display: inline-block;

}
.navigation {
margin-top: 1px;
padding: 50px;
padding-bottom: 180px;
display: flex;
flex-direction: column;
overflow: hidden;
text-overflow: clip;
white-space: nowrap;
position: sticky;
top: 0px;

}
.menu {
color: white;
font-size: 1em;

}
.menu-content{
margin: 0 35px 0 0;

}

a.menu:link {
color: white;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}
a.menu:visited {
color: white;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}
a.menu:hover {
text-shadow: 5px;
font-size: 1em;
font-family: "Oswald";
text-decoration: overline;
}
a.menu:active {
width: 114px;
color: white;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}

a.postby:link {
color: black;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}
a.postby:visited {
color: black;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}
a.postby:hover {
text-shadow: 5px;
font-size: 1em;
font-family: "Oswald";
text-decoration: underline;
}
a.postby:active {
width: 114px;
color: black;
text-decoration: none;
font-size: 1em;
font-family: "Oswald";
}

a.clip:link {
width: 114px;
color: white
text-decoration: none;
width: 114px;

}
a.clip:visited {
width: 114px;
color: white;
text-decoration: none;
}
a.clip:hover {
width: 114px;
text-decoration: none;
color: white;
}
a.clip:active {
width: 114px;
text-decoration: none;
color: white;
}

.userpanel {
position: absolute;
right: 0;
padding-right: 50px;

}
.login {

}

.cliplist {

height: 160px;
width: 100%;
margin-top: 286px;
background-color: rgba(0,0,0,0.4);
display: flex;
flex: 0 80%;
flex-direction: row;
flex-wrap: nowrap;
overflow: hidden;
white-space: nowrap;
}

.clipcontent {
margin: 10px;
background-color: #123747;
color: white;
font-size: 0.8em;
text-align: center;
}
.content {
background-position: black;
display: flex;
flex-direction: row;
border: 1px;
border-color: black;
padding: 10px;
}
.con-design {
display: flex;
flex-direction: column;
margin-left: 15px;

}
.content-image {

}
.content-title {
font-size: 2.5em;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-family: "Oswald";

}
.content-text {


}
.content-optional-text {
font-family: "Oswald";
font-size: 0.8em;
padding: 0 0 5px 0px;
}
.footer-text {
margin-left: 15px;
margin-top: 5px;
float: left;
}
.footer-icons {
margin-right: 25px;
float: right;
width: 32px;
height: 32px;
}
